<app-navigation-bar></app-navigation-bar>
<main class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <section class="productFilter">
          <app-product-filters
            [title]="'Categories'"
            [items]="categories"
          ></app-product-filters>

          <app-product-filters
            [title]="'Expanded Filters'"
            [items]="pricesFilter"
            [itemPre]="'Price '"
          ></app-product-filters>
        </section>
      </div>
      <div class="col-lg-9 col-md-8">
        <app-list
          [products]="products"
          [selectedCategories]="selectedCategories"
          [selectedPrices]="selectedPrices"
        ></app-list>
      </div>
    </div>
  </div>
</main>
