<div class="loginWrapper">
  <div class="row">
    <div class="col-6 loginLeft"></div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <section class="loginRight">
        <div class="loginLogo d-flex justify-content-center">
          <img
            src="../../../../../assets/images/youtopia_logo.png"
            alt="youtopia logo"
          />
        </div>

        <form [formGroup]="loginForm" name="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label text-primary fw-bold"
              >Email*</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />
            <div
              *ngIf="
                loginForm.controls['email'].invalid &&
                loginForm.controls['email'].touched
              "
            >
              <app-field-error-message
                *ngIf="loginForm.controls['email'].errors?.['required']"
                [message]="'Email is required'"
              ></app-field-error-message>
              <app-field-error-message
                *ngIf="loginForm.controls['email'].errors?.['email']"
                [message]="'Email is invalid'"
              ></app-field-error-message>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-primary fw-bold"
              >Password*</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
            <div
              *ngIf="
                loginForm.controls['password'].invalid &&
                loginForm.controls['password'].touched
              "
            >
              <app-field-error-message
                *ngIf="loginForm.controls['password'].errors?.['required']"
                [message]="'Password is required'"
              ></app-field-error-message>
            </div>
          </div>
          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
